<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}• {{ page.title }} - {{ site.title }} •{% else %} • {{ site.title }} - A blog by WenChuanLee ツ{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="" />
    
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{{ site.baseurl }}/assets/leewc-152.png">
    
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.baseurl }}/assets/leewc-152.png">
  	<link rel="shortcut icon" href="{{ site.baseurl }}/assets/favicon.ico">
    {% comment %} <!-- head and then only header, then only body --> {% endcomment %}
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="/assets/css/main.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>