		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="/assets/js/jquery.min.js" ></script>
		<script src="/assets/js/jquery.dropotron.min.js" ></script>
		<script src="/assets/js/jquery.scrolly.min.js" ></script>
		<script src="/assets/js/jquery.onvisible.min.js"></script>
		<script src="/assets/js/skel.min.js"></script>
		<script src="/assets/js/skel-layers.min.js"></script>
		<script src="/assets/js/init.js"></script>
		
		{% comment %} <!--always load code highlighter regardless of screensize or noscript --> {% endcomment %}
		<link rel="stylesheet" href="/css/syntax.css"> 

		<noscript>
			<link rel="stylesheet" href="/css/skel.css" />
			<link rel="stylesheet" href="/css/style.css" />
			<link rel="stylesheet" href="/css/style-desktop.css" />
			<link rel="stylesheet" href="/css/style-noscript.css" />
			
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		
