
		<script src="/assets/js/jquery.min.js" ></script>
		<script src="/assets/js/jquery.dropotron.min.js" ></script>
		<script src="/assets/js/jquery.scrolly.min.js" ></script>
		<script src="/assets/js/jquery.onvisible.min.js"></script>
		<script src="/assets/js/skel.min.js"></script>
		<script src="/assets/js/skel-layers.min.js"></script>
		<script src="/assets/js/init.js"></script>
		
		{% comment %} <!--always load code highlighter regardless of screensize or noscript --> {% endcomment %}
		<link rel="stylesheet" href="/assets/css/syntax.css"> 

		<noscript>
			<link rel="stylesheet" href="/assets/css/skel.css" />
			<link rel="stylesheet" href="/assets/css/style.css" />
			<link rel="stylesheet" href="/assets/css/style-desktop.css" />
			<link rel="stylesheet" href="/assets/css/style-noscript.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
		<!-- Not activated, still implementing. <link rel="stylesheet" href="/assets/css/main.css" /> -->
		<!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->