<!-- Sidebar Code -->
	<div class="4u 12u(mobile)" id="sidebar">
		<hr class="first" />
	
	{% if page.category == 'cooking' %}
		<section>
			<header>
				<h3>Everybody can cook.</h3>
			</header>
			<p style="text-align: right"> - Ratatouille </p>
			<p>
			<b>Q:</b> Why are you posting recipes on a computer blog? It looks like you're more interested in cooking than computer science.</p>
			<p> <b>A:</b> I want to share practical recipes that college students can afford to cook and make, in terms of time and money. Also, I am still human so I cook to eat frequently enough that the chances of me making a meal worthy of blogging is way higher than writing code worthy to talk about, because that takes way more time.</p>
		</section>
	{% endif %}
		<hr />
		<section>
			<header>
				<h3>Recent Posts under {{ page.category | capitalize }}</h3>
			</header>
			<p>
				Here's a few other posts you might enjoy.
			</p>
			<br />
		{% for post in site.categories[page.category] limit:15 %}
			{% if post.url %}
				<div class="row 50% no-collapse">
					{% if post.thumbnail %}
						<div class="4u">
						<a href= {{ post.url | prepend: site.baseurl }} class="image fit"><img src="/assets/images/posts/{{ post.thumbnail }}" alt=" {{post.title }} thumbnail" /></a>
						</div>
					{% endif %}
					<div class="8u">
						<h4><a href= {{ post.url | prepend: site.baseurl }}> {{ post.title }}</a></h4>
					<p> {{ post.subtitle }} </p>
					</div>
				</div>
				<br />
			{% endif %}
		{% endfor %}
			<footer>
				<a href="/{{ page.category }}/" class="button">View All Posts under {{ page.category | capitalize }} </a>
			</footer>
		</section>
	</div>